<!-- QUEM SOMOS NOS ***************** -->

<style>
  .btn-text {
  color: white;
  background-color: #F0386B;
  margin: 20px;
  font-size: 2.5vh;
}

.round-img {
  border-radius: 50%;
}

.img-size {
  height: 150px;
  border-image: 3px;
}
</style>

<div style="
background: #0f0c29;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
padding: 3vh; z-index: 10; position:relative; color: gray;">

  <div class="container" style="color: white;">

  <h2>Conheça o time do Instituto Guia Financeiro</h2>
  <br>

  <div class="row">
    <div class="col-xs-12 col-sm-6">
        <div style="margin-bottom: 3vh;">
          <%= image_tag "perfil.jpg", class: 'img-responsive center-block fit-image round-img', alt: "Entrevista Descomplicada" %> <br>
          <h2>Felipe Dias</h2>
          <p style="font-size: 2.5vh; font-weight: bold; font-style: italic;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          </p>
          <br>
          <p style="font-size: 2vh;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      <br> <br>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          </p>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6">
        <div style="margin-bottom: 3vh;">
          <%= image_tag "perfil.jpg", class: 'img-responsive center-block fit-image round-img', alt: "Entrevista Descomplicada" %> <br>
          <h2>Marcello Moreira</h2>
          <p style="font-size: 2.5vh; font-weight: bold; font-style: italic;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          </p>
          <br>
          <p style="font-size: 2vh;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      <br> <br>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          </p>
        </div>
    </div>
  </div>

  <br>
  <br>

  <div style="margin: 1vh;">
    <center><h2>IGF na mídia</h2></center>
    <br>
    <div style="display: flex; justify-content: space-around;">
      <%= link_to "http://agenciarede.com/mulher-carioca-faz-sucesso-como-empreendedora-em-sao-paulo/" do %>
        <%= image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTVGUuf1wR1KFnuW21uWcY8VU5PZ-hXBeGsrlp3v7JCnA&usqp=CAU&ec=45675147", class: 'img-responsive center-block fit-image img-size', alt: "agencia rede" %> <br>
      <% end %>

      <%= link_to "https://www.jornaldoestadodorio.com.br/empreendedora-carioca-e-homenageada-na-camara-de-municipal-de-sp/" do %>
        <%= image_tag "https://www.saopaulo.sp.leg.br/escoladoparlamento/wp-content/themes/escola-parlamento/images/og-image.jpg", class: 'img-responsive center-block fit-image img-size', alt: "jornal do estado do rio" %> <br>
      <% end %>

      <%= link_to "http://agenciarede.com/mulher-carioca-faz-sucesso-como-empreendedora-em-sao-paulo/" do %>
        <%= image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTVGUuf1wR1KFnuW21uWcY8VU5PZ-hXBeGsrlp3v7JCnA&usqp=CAU&ec=45675147", class: 'img-responsive center-block fit-image img-size', alt: "agencia rede" %> <br>
      <% end %>
    </div>
  </div>


  </div>
</div>
<!-- QUEM SOMOS NOS ***************** -->
