



<style>

@import url('https://fonts.googleapis.com/css?family=Barriecito&display=swap');

.dot-number {
  font-family: 'Barriecito', cursive;
  color: white;
  font-size: 6vh;
  background: #F0386B;
  padding: 2vh;
  display:inline-block;
  margin-bottom: -1vh;
  margin-top: 1vh;
  height: 90px;
  width: 90px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  background: black;
}

.dot-text {
  padding: 2vw;
  font-size: 2vh;
  max-width: 80vw;
  color: white;
  margin-top: -2vh;
}

.background {
background-color: #0e5f99;
background-image: url(<%= asset_path 'igf-background.jpg' %>);
background-attachment: fixed;
background-size: cover;
}

.round-img {
  height: 50px;
  border-radius: 50%
}
</style>


<div class="background">
<div style="background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,0.9) 0%, rgba(58,57,131,0.8164040616246498) 52%, rgba(51,137,154,0.9) 100%); border-radius: 3px;">


  <div class="container">
  <!--TITLE-->
  <div style="position: relative; color: white;">
    <div class="container">
      <center>
        <%= image_tag "igf-logofinal.png", class: 'img-responsive center-block', alt: "Instituto Guia Financeiro" %>
        <h1 class="" style="font-size: 4vh; margin: -3vh; margin-bottom: 2vh; line-height: 1.4;">JORNADA PLANEJADOR FINANCEIRO PESSOAL</h1>
        <p style="font-size: 2.5vh;">Fature como planejador financeiro pessoal começando do zero até seu primeiro cliente</p>

        <!-- DATA-->
        <div style="color: white;">
          <hr style="color:white; max-width: 400px;">
          <i class="fas fa-calendar-alt" style="font-size: 2vh;"> <p style="padding: 1vh; font-family: 'Arial', cursive; ">04/04 | 20h00</p></i> &nbsp; &nbsp; &nbsp;
          <i class="fas fa-laptop-code" style="font-size: 2vh;"> <p style="padding: 1vh; font-family: 'Arial', cursive; ">Online</p></i> &nbsp; &nbsp; &nbsp;
          <i class="fas fa-money-bill-wave" style="font-size: 2vh;"> <p style="padding: 1vh; font-family: 'Arial', cursive; ">100% Grátis</p></i>
        </div>
        <!-- DATA END-->

        <script async data-uid="aa579bb205" src="https://dedicated-experimenter-5056.ck.page/aa579bb205/index.js"></script>

      </center>
    </div>
    <br>
  </div>
  <!-- TITLE END-->
  </div>

</div>
</div>


<%= render 'shared/novenoveementa' %>

<%= render 'shared/oqueaprender' %>

<%= render 'shared/quemsomos' %>

<%= render 'shared/depoimentos' %>


</div>































