



<style>
/* Play with this value */
@import url('https://fonts.googleapis.com/css?family=Barriecito&display=swap');

.dot-number-obg {
  font-family: 'Barriecito', cursive;
  color: white;
  font-size: 7vh;
  background: #F0386B;
  padding: 2vh;
  height: 90px;
  width: 90px;
  background-color: #bbb;
  border-radius: 50%;
  background: #30bf83;
  margin-bottom: -4vh;
}

.dot-text-obg {
  padding: 2vw;
  font-size: 2.5vh;
  max-width: 80vw;
  color: white;
  margin-top: -2vh;
}

.banner {
background: #373B44;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

width: 100%;
text-align: center;
margin-top: 0px;
}


.link-style {
  padding: 2vh;
  color: black;
  font-size: 10vh;
}

.back {
background-color: #0e5f99;
background-image: url(<%= asset_path 'igf-background.jpg' %>);
background-attachment: fixed;
background-size: cover;

 }

 .back2 {
background: #8E2DE2;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
opacity: 0.8;

 }

 .logo-size-obrigado {
  height: 150px;
  margin-bottom: -3vh;
 }


</style>


<div class="back">
<div style="background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,0.9) 0%, rgba(58,57,131,0.8164040616246498) 52%, rgba(51,137,154,0.9) 100%); border-radius: 3px;">

  <div class="container">

  <div>


  <!-- DATA-->
    <center>
    <div style="color: white;">
      <div>
        <%= image_tag "igf-logofinal.png", class: 'img-responsive center-block logo-size-obrigado', alt: "Entrevista Descomplicada" %>
        <h1 style="font-size: 5vh; margin-bottom: 4vh;"> Jornada Planejador Financeiro</h1>
        <h2 style="font-size: 3vh;">OBRIGADO</h2>
        <p class="" style="font-size: 2.5vh; padding: 0.5vh; margin-right: 1vh; margin-left: 1vh;">Confirme sua inscrição através do email</p>
      </div>
    <p style="font-size:2vh; margin-bottom: -2vh;">Jornada Planejador Financeiro Pessoal</p>
    <hr style="color:white; max-width: 400px;">
    <i class="fas fa-calendar-alt" style="font-size:2vh;"> <p style="padding: 1vh; font-family: 'Arial', cursive; ">12 de Março </p></i> &nbsp; &nbsp;
    <i class="fas fa-clock" style="font-size:2vh;"> <p style="padding: 1vh; font-family: 'Arial', cursive; ">20h00 </p></i> &nbsp; &nbsp;
    <i class="fas fa-laptop-code" style="font-size:2vh;"> <p style="padding: 1vh; font-family: 'Arial', cursive; ">100% online</p></i>
    </div>
    <br>
  </center>
  <!-- DATA END-->

    <center>
      <div style="font-weight: bold;">
        <p style="font-size: 4vh; color: white;">Enquanto isso não esqueça:</p>
      </div>
    </center>

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <center>
          <div style="margin-bottom: 3vh;">
            <h1 class="dot-number-obg">1</h1> <br> <br>
            <p class="dot-text-obg" style="margin-bottom: 2vh;">Entre no nosso canal do <strong>Telegram no link abaixo</strong> e baixe a pesquisa sobre os hábitos financeiros do brasileiro além do <strong>material exclusivo do workshop</strong></p>
            <a href="https://t.me/InstitutoGuiaFinanceiro" target="_blank"><i class="fab fa-telegram" style="color: white; font-size: 6vh; margin-top: -2vh;"></i> <br>Telegram</a>
          </div>
          <br>
          <%= image_tag "recompensatelegram.gif", class: "img-responsive", style: "border-radius: 3px; margin-top: -2vh; height: 250px;" %>
        </center>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <center>
          <div style="margin-bottom: 3vh;">
            <h1 class="dot-number-obg">2 </h1> <br/> <br>
            <p class="dot-text-obg" style="margin-bottom: 2vh;"><strong>Se inscreva</strong> no canal e <strong>ative as notificações</strong> do YouTube para ser alertado(a) no dia e hora do evento</p>
            <a href="https://www.youtube.com/channel/UC9l5V9TB0gUGjXxVBjQm6tg?view_as=subscriber" target="_blank"><i class="fab fa-youtube" style="color: white; font-size: 6vh; margin-top: -2vh;"></i><br>YouTube</a>
          </div>
          <br>
          <%= image_tag "youtubesubscribe.gif", class: "img-responsive", style: "border-radius: 3px; margin-top: -2vh; height: 250px;" %>
        </center>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <center>
          <div style="margin-bottom: 3vh;">
            <h1 class="dot-number-obg">3 </h1> <br/> <br>
            <p class="dot-text-obg" style="margin-bottom: 2vh;"><strong>Nos acompanhe</strong> nas redes socias, postamos diariamente tudo sobre a profissão planejador financeiro pessoal</p>
            <div style="">
              <a href="" target="_blank" class="hide"><i class="fab fa-twitter" style="color: white; font-size: 6vh; margin-top: -2vh;"></i></a>
              <a href="" class="hide" target="_blank"><i class="fab fa-linkedin" style="color: white; font-size: 6vh; margin-top: -2vh;"></i></a>
              <a href="https://www.facebook.com/institutoguiafinanceiro/"><i class="fab fa-facebook-square" style="color: white; font-size: 6vh; margin-top: -2vh;"></i></a> &nbsp; &nbsp; &nbsp;
              <a href="https://www.instagram.com/igf_planejadores/" target="_blank"><i class="fab fa-instagram" style="color: white; font-size: 6vh; margin-top: -2vh;"></i></a>
              <a href="https://www.youtube.com/channel/UC9l5V9TB0gUGjXxVBjQm6tg?view_as=subscriber" target="_blank"><i class="fab fa-youtube hide" style="color: white; font-size: 6vh; margin-top: -2vh;"></i></a>
            </div>
          </div>
          <br>
          <%= image_tag "instascreen.jpg", class: "img-responsive", style: "border-radius: 3px; margin-top: -2vh; height: 250px;" %>
        </center>
      </div>
    </div>
  </div>

<br>
<br>


</div>

<%= render 'shared/depoimentos' %>

</div>
</div>



































