



<style>

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');


.background {
background-color: #0e5f99;
background-image: url(<%= asset_path 'patylomonaco.jpeg' %>);
background-attachment: fixed;
background-size: cover;
}

.round-img {
  height: 50px;
  border-radius: 50%
}


</style>


<div class="background">
<div style="background: rgb(36,120,93);
background: linear-gradient(90deg, rgba(36,120,93,0.7497373949579832) 0%, rgba(52,29,117,0.7665441176470589) 100%); border-radius: 3px;">


  <div class="container">
  <!--TITLE-->
  <div style="position: relative; color: white;">
    <div class="container">
      <center>
        <%= image_tag "patylomonaco.jpeg", style: 'border-radius: 50%; max-width: 200px; margin-top: 3vh; margin-bottom: 3vh;', alt: "Instituto Guia Financeiro" %>
        <h2 style="font-size: 2vh; font-family: 'Roboto', sans-serif; font-weight: 500; margin-bottom: 3vh; letter-spacing: 4px; font-weight: 900;">JORNADA</h2>
        <h1 class="" style="font-size: 5vh; margin: -3vh; margin-bottom: 2vh; line-height: 1.4; font-family: 'Roboto', sans-serif; font-weight: 900; letter-spacing: 2px;">Sono do Bebê</h1>
        <p style="font-size: 2.5vh; font-family: 'Roboto', sans-serif; font-weight: 500;">Diminuindo Despertares Noturnos</p>

        <!-- DATA-->
        <div style="color: white;">
          <hr style="color:white; max-width: 400px;">
          <i class="fas fa-calendar-alt" style="font-size: 3.5vh;"> <p style="font-size: 2vh; padding: 1vh; font-family: 'Arial', cursive; ">10/06 | 20h00</p></i> &nbsp;
          <i class="fas fa-laptop-code" style="font-size: 3.5vh;"> <p style="font-size: 2vh; padding: 1vh; font-family: 'Arial', cursive; ">Online</p></i> &nbsp;
          <i class="fas fa-money-bill-wave" style="font-size: 3.5vh;"> <p style="font-size: 2vh; padding: 1vh; font-family: 'Arial', cursive; ">100% Grátis</p></i>
        </div>
        <!-- DATA END-->

        <script async data-uid="aa579bb205" src="https://dedicated-experimenter-5056.ck.page/aa579bb205/index.js"></script>

      </center>
    </div>
    <br>
  </div>
  <!-- TITLE END-->
  </div>


</div>
</div>


<%= render 'shared/novenoveementa' %>

<%= render 'shared/oqueaprender' %>

<%= render 'shared/quemsomos' %>

<%= render 'shared/depoimentos' %>


</div>































