



<style>

@import url('https://fonts.googleapis.com/css?family=Barriecito&display=swap');

.dot-number {
  font-family: 'Barriecito', cursive;
  color: white;
  font-size: 6vh;
  background: #F0386B;
  padding: 2vh;
  display:inline-block;
  margin-bottom: -1vh;
  margin-top: 1vh;
  height: 90px;
  width: 90px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  background: black;
}

.dot-text {
  padding: 2vw;
  font-size: 2vh;
  max-width: 80vw;
  color: white;
  margin-top: -2vh;
}

.background {
background-color: #0e5f99;
background-image: url(<%= asset_path 'igf-background.jpg' %>);
background-attachment: fixed;
background-size: cover;
}

.round-img {
  height: 200px;
  border-radius: 50%
}
</style>


<div class="background">
<div style="background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,0.9) 0%, rgba(58,57,131,0.8164040616246498) 52%, rgba(51,137,154,0.9) 100%); border-radius: 3px;">


  <div class="container">
  <br>
  <br>
  <!--TITLE-->
  <div style="position: relative; color: white;">
    <div class="container">
      <center>
        <%= image_tag "igf-logo.png", class: 'img-responsive center-block round-img', alt: "Entrevista Descomplicada" %>
        <h1 class="" style="font-size: 3vh; margin: 2vh;">Obrigado por se inscrever</h1>
        <p style="font-size: 2vh;">Participe do nosso canal do Telegram, nele postamos conteúdos diários sobre como se tornar um planejador financeiro de sucesso.</p>
        <br>
        <a href="www.google.com"><i class="fab fa-telegram" style="color: white; font-size: 6vh; margin-top: -2vh;"></i>
        <p style="font: white;">LINK PARA O TELEGRAM</p>
        </a>



        <!-- DATA-->
        <div style="color: white;">
          <hr style="color:white; max-width: 400px;">
        </div>
        <!-- DATA END-->

      </center>
    </div>
    <br>
    <br>
    <br>
  </div>
  <!-- TITLE END-->
  </div>

</div>
</div>






<%= render 'shared/perfilsocial' %>

<%= render 'shared/depoimentos' %>

<%= render 'shared/quemsomos' %>



</div>































