

<style>
.background {
background-color: #0e5f99;
background-image: url(<%= asset_path 'igf-background.jpg' %>);
background-attachment: fixed;
background-size: cover;
}

.background-gradient {
background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,0.9) 0%, rgba(58,57,131,0.8164040616246498) 52%, rgba(51,137,154,0.9) 100%);
border-radius: 3px;
}

.img-size-venda {
  height: 110px;
}

.video-container {
  position:relative;
  padding-bottom:56.25%;
  padding-top:30px;
  height:0;
  overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height: 100%;
}

.buttom-line {
  letter-spacing: 1px;
}
</style>


<div class="background">
<div class="background-gradient">

  <center>
    <div class="container">
      <%= image_tag "igf-logofinal.png", class: 'img-responsive center-block img-size-venda', alt: "Instituto Guia Financeiro" %>
      <h1 class="" style="font-size: 3.2vh; line-height: 1.4; margin-top: -0.5vh; color: white; letter-spacing: 1px;">JORNADA PLANEJADOR FINANCEIRO</h1>
    </div>

    <div style="max-width: 600px; margin: 1vh; background-color: white; padding: 0.7vh; border-radius: 3px;">
      <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/gMlf1ELvRzc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>


<!-- CARD COM LINK DE COMPRA -->
    <div style="background-color: white; border-radius: 3px; max-width: 800px; padding: 1.5vh; margin: 1vh; margin-top: 2vh; letter-spacing: 1px;">
    <center>
      <h2 style="font-size: 2.2vh; font-weight: bold; line-height: 1.5;">Faça parte do curso <br> <spam style="font-size: 4vh;">Guia Financeiro<spam></h2>
      <h3 style="font-size: 2vh; margin-top: 1vh; letter-spacing: 0px;">De <spam style="text-decoration: line-through;">R$2927</spam> por R$1927 ou em até 12x de R$160,58</h3>
      <%= link_to "Quero ser planejador", "https://pay.hotmart.com/U16126935I?hideBillet=1", class: "btn btn-primary btn-lg"%>
      <br>
      <%= link_to "Inscreva-se", "https://pay.hotmart.com/U16126935I?hideBillet=1"%>
    </center>
    </div>
<!-- FIM: CARD COM LINK DE COMPRA -->


    <br>
    <br>
  </center>


<%= render 'shared/cursov1' %>

<%= render 'shared/novenoveementa' %>

<%= render 'shared/depoimentoscurso' %>

<%= render 'shared/quemsomos' %>




</div>
</div>





































